@import "variables.scss";
header {
    width: 100%;
    height: 80px;
    background-color: #1A161F;
    .logo-nav {
        display: none;
    }
    .header-wrapper {
        width: 72%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        margin-bottom: 2%;
        span {
            color: #fff;
        }
    }
    .logo {
        display: inline-block;
        width: 64px;
        // margin-left: 4%;
    }
    nav {
        width: 52%;
        display: inline-block;
        margin-left: 42%;
        .mobile-icon {
            width: 32px;
            display: inline-block;
            margin-right: 0%;
        }
        #menu-btn {
            display: none;
            position: relative;
            text-align: center;
            width: 36px;
            height: 36px;
            z-index: 2;
            &:before,
            &:after {
                content: '';
                width: 100%;
                height: 4px;
                background-color: #FFF;
                display: block;
                position: absolute;
                border-radius: 20px;
            }
            &:before {
                transform-origin: left center;
            }
            &:after {
                right: 0;
                top: 12px;
                transform-origin: right center;
            }
            .text {
                color: #FFF;
                display: block;
                position: absolute;
                bottom: 0;
                font-size: 10px;
                letter-spacing: 2.5px;
            }
            &:hover {
                cursor: pointer;
            }
            &.open {
                &:before {
                    animation: topBar_open 1s ease-in-out;
                    animation-fill-mode: forwards;
                }
                &:after {
                    animation: bottomBar_open 1s ease-in-out;
                    animation-fill-mode: forwards;
                }
                .text {
                    animation: menuLabel_open 1s ease-in;
                    animation-fill-mode: forwards;
                }
            }
            &.close {
                &:before {
                    animation: topBar_close 1s ease-in-out;
                    animation-fill-mode: forwards;
                }
                &:after {
                    animation: bottomBar_close 1s ease-in-out;
                    animation-fill-mode: forwards;
                }
                .text {
                    animation: menuLabel_close 1s ease-in;
                    animation-fill-mode: forwards;
                }
            }
        }
        li {
            display: inline-block;
            color: #fff;
            padding-left: 8%;
            cursor: pointer;
            transition: all 1s;
        }
        .underline-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .underline {
                display: inline-block;
                width: 100%;
                height: 20px;
                background: url(/img/underline.png) no-repeat;
                background-size: contain;
                transition: all 1s;
                opacity: 0%;
                // overflow: hidden;
            }
            #under1 {
                margin-left: 7%;
            }
            #under2 {
                margin-left: 0%;
            }
            #under3 {
                margin-right: 4%;
            }
            #under4 {
                margin-right: 8%;
            }
        }
    }
    .header-icons {
        width: 12%;
        // margin-left: 8%;
        .header-icons__person {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 14%;
        }
        .header-icons__wallet {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 14%;
        }
    }
}

@media screen and (max-device-width: 1440px) {
    header {
        nav {
            width: 68%;
        }
    }
}

@media screen and (max-device-width: 470px) {
    header {
        .header-icons {
            position: absolute;
            top: 800px;
        }
        .logo {
            position: absolute;
            display: inline-block;
            width: 48px;
            left: 20px;
            top: 24px;
        }
        .logo-nav {
            position: absolute;
            display: inline-block;
            width: 48px;
            left: 20px;
            top: 24px;
        }
        nav {
            justify-content: space-between;
            height: 100%;
            #menu-btn {
                display: block;
                // width: 42px;
                cursor: pointer;
                z-index: 3;
                .text {
                    font-size: 8.5px;
                }
            }
            .mobile-icon {
                position: relative;
                width: 32px;
                height: 32px;
                margin-top: 10%;
                margin-left: 94%;
                z-index: 4;
            }
            ul {
                display: none;
                position: absolute;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0%;
                padding-left: 0%;
                padding-top: 12%;
                top: 0px;
                right: 0%;
                background-color: rgb(255, 255, 255);
                height: 1000px;
                opacity: 0%;
                z-index: 3;
                transition: all 1s;
                &.navOpen {
                    animation: navOpen $anim_time ease-in-out;
                    animation-fill-mode: forwards;
                }
                .navOpen {
                    padding-top: 4%;
                }
            }
            li {
                text-align: center;
                width: 100%;
                display: block;
                font-size: 22px;
                font-weight: 500;
                padding: 0em;
                margin-left: 0em;
                padding-top: 14%;
                color: #000;
                a {
                    color: #000;
                }
            }
        }
    }
}